name: deploy-mkdocs
run-name: Deploy MkDocs

on:
  push:
    branches: [ master ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: 3.x
      - run: pip install mkdocs-material
      - name: Copy root files
        run: |
          mkdir -p docs/docs
          cp README.md docs/index.md
          cp docs/*.md docs/docs/
          find . -name '*.md'
      - run: mkdocs gh-deploy --force
